{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'img/minilogo.png' %}" alt="Next Step logo" height="50">
            </div>
            <div class="col-4 text-center">
                <h3>Contact</h3>
                <ul>
                    <li>Zaur Nudiraliyev, 79</li> 
                    <li><a class="email" href="mailto:info@icnextstep.com">info@icnextstep.com</a></li>
                </ul>
                <div>
                    <a href="https://www.facebook.com/StartupAz"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/next-step-innovation-center/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/nextstep.ic/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="copyright">
                <div class="col-12">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/incubation-program">Incubation Program</a></li>
                    <li><a href="/apply">Apply Now</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <p>&copy; 2022 Next Step Innovation Center. All Rights Reserved</p>
        </div>
        </div>
    </div>
</footer>