
{% load static %}

<header>
    <nav class="container">
        <a href="/"><img src="{% static 'img/logo.png' %}" alt="Next Step logo" height="50"></a>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a href="/incubation-program">INCUBATION PROGRAM</a></li>
            <li><a href="/apply">APPLY NOW</a></li>
            <li><a href="/events">EVENTS</a></li>
            <li><a href="/contact">CONTACT US</a></li>
        </ul>
    </nav>
</header>