
{% extends "base.html" %}

{% load static %}

    {% block title %}Apply Now | Next Step Innovation Center{% endblock %}
    {% block content %}

    <main>
        <section class="container application-form">
            <h2>Apply Now</h2>
            <form>
                <div class="form-group">
                    <input type="text" placeholder="Your Name and Surname">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Your e-mail">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Telephone">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Project Name">
                </div>
                <div class="form-group">
                    <textarea placeholder="Project Description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <textarea placeholder="Team Members" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <textarea placeholder="What stage was the project currently in progress?" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <p>Presentation/Pitchdeck</p>
                    <input type="file">
                </div>
                <div class="group">
                    <button class="btn-blue" type="submit">Send a message</button>
                </div>
            </form>
        </section>
    </main>

    {% endblock %}