
{% extends "base.html" %}

{% load static %}

    {% block title %}Apply Now | Next Step Innovation Center{% endblock %}
    {% block content %}

    <main>
        <section class="banner apply-banner">
            <picture>
                <source media="(max-width: 576px)" srcset="{% static 'img/apply-banner-mobile.png' %}">
                <img src="{% static 'img/apply-banner.png' %}" alt="Apply now banner image">
            </picture>
            <div class="container text-center">
                <h2>Apply Now</h2>
                <span>deadline: 15 january</span>
                <p><span>Start-up incubation program 2023 batch 1.</span><br>Got an idea? We will make it happen!</p>
                <p>The Incubation program by Next Step Innovation Center is designed to support start-upsand companies from concept to development of a workable demo (A Minimum  Viable Product).</p>
                <a href="/incubation-program" class="btn-blue">Know&nbsp;More</a>
            </div>
        </section>

        <section class="container application-form">
            <h3>Application Questions</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row" id="firstpage">
                    <div class="col-12 col-md-6">
                        {{form.name}}
                        <!-- <input type="text" placeholder="First name" name="name" required> -->
                        {{form.surname}}
                        <!-- <input type="text" placeholder="Last name" name="surname" required> -->
                    </div>
                    <div class="col-12 col-md-6">
                        {{form.email}}
                        <!-- <input type="text" placeholder="Your e-mail" name="mail" required> -->
                        {{form.number}}
                        <!-- <input type="text" placeholder="Telephone" name="number" required> -->
                    </div>
                    <div class="col-12 col-md-6">
                        <label>What state is your idea / product / service in?</label>
                        {{form.what_idea}}
                        <!-- <select>
                            <option disabled selected style="display: none;">Select an option</option>
                            <option value="early">Early idea</option>
                            <option value="researched">Researched idea</option>
                            <option value="mockups">Mockups</option>
                        </select> -->
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="#" id="next" class="btn-blue">Continue <i class="fa-solid fa-arrow-right"></i></a>
                        <div id="alert" class="alert alert-danger" role="alert" style="display: none;">
                            Please fill out all fields correctly!
                        </div>
                    </div>
                </div>

                <div class="row" id="secondpage" style="display: none;">
                    <div class="col-12 col-md-6">
                        <label>What field is your idea / product / service in?</label>
                        {{form.idea}}
                        <!-- <div id="select-list">
                            <input type="radio" name="field" id="agritech" checked>
                            <label for="agritech">AgriTech</label><br>
                            <input type="radio" name="field" id="edtech">
                            <label for="edtech">EdTech</label><br>
                            <input type="radio" name="field" id="fintech">
                            <label for="fintech">FinTech</label><br>
                            <input type="radio" name="field" id="gametech">
                            <label for="gametech">GameTech</label><br>
                            <input type="radio" name="field" id="traveltech">
                            <label for="traveltech">TravelTech</label><br>
                            <input type="radio" name="field" id="cultech">
                            <label for="cultech">CulTech</label><br>
                            <input type="radio" name="field" id="othertech">
                            <label for="othertech">Other</label>
                        </div> -->

                        <label>How many hours are you currently working on your idea per week?</label>
                        {{form.hours}}
                        <!-- <select>
                            <option disabled selected style="display: none;">Select an option</option>
                            <option value="max10">0-10</option>
                            <option value="max20">11-20</option>
                            <option value="max35">21-35</option>
                            <option value="over36">36+</option>
                        </select> -->

                        <label>How many people are on your team?</label>
                        {{form.people}}
                        <!-- <select>
                            <option disabled selected style="display: none;">Select an option</option>
                            <option value="one">1</option>
                            <option value="two">2</option>
                            <option value="three">3</option>
                            <option value="over4">4+</option>
                        </select> -->

                        <!-- <textarea placeholder="Describe your startup" required></textarea> -->
                        {{form.describe}}
                        <span class="note">Note: We look for teams with knowledge and passion in a field.</span>

                        <label class="mt-5">Add more information about team members</label>
                        {{form.more_information}}
                        <!-- <textarea required></textarea> -->
                        <span class="note">Less than 100 words</span>
                    </div>
                    <div class="col-12" style="margin-top: 100px; margin-bottom: 20px;">
                        <label>Select the two industries that best describe the business you are building</label>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="yellow">Primary</label>
                        {{form.industries1}}
                        <!-- <select>
                            <option value="">Accounting / Finance / Legal</option>
                            <option value="">Advertising / Marketing</option>
                            <option value="">Agriculture / Farming</option>
                        </select> -->
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="yellow">Secondary</label>
                        {{form.industries2}}
                        <!-- <select>
                            <option value="">Accounting / Finance / Legal</option>
                            <option value="">Advertising / Marketing</option>
                            <option value="">Agriculture / Farming</option>
                        </select> -->
                    </div>
                    <div class="col-12" style="margin-top: 50px; margin-bottom: 20px;">
                        <label>Select the two areas where you most need help building a business</label>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="yellow">Primary</label>
                        {{form.areas1}}
                        <!-- <select>
                            <option value="">Basic entrepreneurial training</option>
                            <option value="">Improving my idea / strategy</option>
                            <option value="">Building a network</option>
                            <option value="">Finding a Co-Founder</option>
                            <option value="">Building a team</option>
                            <option value="">Product development</option>
                            <option value="">Fundraising</option>
                            <option value="">Marketing and Sales</option>
                            <option value="">Internationalisation</option>
                            <option value="">Strategic Partnership</option>
                        </select> -->
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="yellow">Secondary</label>
                        {{form.areas2}}
                        <!-- <select>
                            <option value="">Basic entrepreneurial training</option>
                            <option value="">Improving my idea / strategy</option>
                            <option value="">Building a network</option>
                            <option value="">Finding a Co-Founder</option>
                            <option value="">Building a team</option>
                            <option value="">Product development</option>
                            <option value="">Fundraising</option>
                            <option value="">Marketing and Sales</option>
                            <option value="">Internationalisation</option>
                            <option value="">Strategic Partnership</option>
                        </select> -->
                    </div>
                    <div class="col-12 col-md-3" style="margin-top: 50px;">
                        <label>Add your startup pitch deck</label>
                        {{form.file}}
                        
                        <!-- <input type="file" name="file" required> -->
                    </div>
                    <div class="col-12" style="margin-top: 50px;">
                        <button class="btn-blue" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <script src="{% static 'js/script.js' %}"></script>

    {% endblock %}