{% extends "base.html" %}

{% load static %}


    {% block content %}


    <main>
        <section class="container contact">
            <h2>Contact Us</h2>
            <form method="post">

                <div class="row">
                    <div class="col-6">
                        {% csrf_token %}

                        <!-- <input type="text" name="yourName" id="yourName" placeholder="Your Name" required> -->
                        {{form.name}}
                        <!-- <input type="text" name="yourEmail" id="firstEmail" placeholder="Your Email" required> -->
                        {{form.email}}
                        <!-- <input type="text" name="yourPhone" id="firstPhone" placeholder="Your Phone" required> -->
                        {{form.number}}
                    </div>
                    <div class="col-6">
                        <!-- <textarea placeholder="Message" required></textarea> -->
                        {{form.message}}
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn-blue">Send</button>
                    </div>
                    <p class="text-success" style="margin-left: 17px;">{{messages}}</p>

                </div>
            </form>
        </section>

        <section class="container map">
            <div class="row">
                <div class="col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.794359140477!2d49.85368621486274!3d40.41340616376654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307df7709db495%3A0xd26cf19763eeb978!2zQVNBTiDEsG5ub3ZhdGl2IMSwbmtpxZ9hZiBNyZlya8mZemk!5e0!3m2!1saz!2s!4v1671040863480!5m2!1saz!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
    </main>

{% endblock %}