* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

html {
    font-size: 10px;
}

/**************** GENERAL CSS ****************/
a, a:hover {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

ul {
   margin: 0; 
   padding: 0;
   list-style: none;
}

.btn-orange {
    width: max-content;
    padding: 12px 15px;
    border-radius: 4px;
    background-color: #FF9A00;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    transition: 0.5s;
}
.btn-orange:hover {
    background-color: #FFFFFF;
    color: #FF9A00;
}

.btn-blue {
    display: inline-block;
    width: 180px;
    padding: 10px 0;
    border: 2px solid #0B315E;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.1em;
    background-color: #FFFFFF;
    color: #0B315E;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn-blue:hover {
    background-color: #0B315E;
    color: #FFFFFF;
}

/**************** NAVBAR ****************/
header {
    height: 110px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
header .header-logo {
    height: 50px;
}
nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    display: inline-block;
    margin: 0 25px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    color: #0B315E;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    color: inherit;
    transition: 0.5s;
}
nav ul li a:hover {
    color: #FF9A00;
    text-decoration: underline;
}

#menu-bar {
    display: none;
    font-size: 2.6rem;
    color: #0B315E;
}
#menu-bar i {
    color: inherit;
}


/**************** MOBILE MENU ****************/
@media screen and (max-width: 1200px) {
    nav {
        position: relative;
    }
    nav ul {
        position: absolute;
        top: 106px;
        right: 0;
        left: 0;
        background-color: #FFFFFF;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 0 0 20px;
    }
    #menu-bar {
        display: block;
    }
}
@media screen and (max-width: 576px) {
    header {
        height: 90px;
    }
    header .header-logo {
        height: 35px;
    }
    nav {
        padding: 0 20px !important;
    }
    nav ul {
        top: 86px;
    }
}


/**************** FOOTER ****************/
footer {
    background-color: #0B315E;
    color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 30px;
}
footer h3 {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 18px;
}
footer ul li {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
}
footer ul li a.email {
    text-decoration: underline;
}
footer i {
    font-size: 2.8rem;
    margin: 30px 15px 0;
}
footer .copyright {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #CFCFCF75;
}
footer .copyright ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
footer .copyright ul li {
    display: inline-block;
}
footer .copyright p {
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.52);
    text-align: center;
}

@media screen and (max-width: 768px) {
    footer h3,
    footer i {
        font-size: 2.4rem;
    }
    footer ul li {
        font-size: 1.6rem;
    }
    footer .copyright p {
        font-size: 1.2rem;
    }
}



/**************** BANNER SECTION ****************/
.banner img {
    width: 100%;
    margin-bottom: 70px;
}
.banner h2 {
    padding: 65px 0;
    color: #FF9A00;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.05em;
}
.banner p {
    width: 75%;
    padding: 80px 0;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #0B315E;
}



/**************** HOME PAGE ****************/
.banner.home {
    position: relative;
}
.banner.home img {
    margin: 0;
}
.banner.home::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: rgba(6, 32, 48, 0.61);
    mix-blend-mode: multiply;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 2;
}
.banner.home .banner-text > div {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
}
.banner.home .banner-text p {
    padding: 40px 0;
    color: #FF9A00;
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
}
.banner.home .banner-text h1 {
    color: #FFFFFF;
    font-size: 10rem;
    font-weight: 700;
    line-height: 150%;
    margin: 15px 0 50px;
}

@media screen and (max-width: 1200px) {
    .banner.home .banner-text p {
        padding: 20px 0;
        width: 100%;
    }
    .banner.home .banner-text h1 {
        font-size: 7rem;
        line-height: 150%;
    }
}
@media screen and (max-width: 768px) {
    .banner.home .banner-text p {
        padding: 0;
        font-size: 1.6rem;
        line-height: 150%;
    }
    .banner.home .banner-text h1 {
        margin: 20px 0;
        font-size: 4.5rem;
        line-height: 150%;
    }
}
@media screen and (max-width: 576px) {
    .banner.home .banner-text p {
        font-size: 1.4rem;
        line-height: 150%;
    }
    .banner.home .banner-text h1 {
        font-size: 3rem;
        line-height: 150%;
    }
    .banner.home .banner-text .btn-orange {
        font-size: 1.4rem;
        padding: 8px 12px;
    }
}

main {
    position: relative;
    margin-top: 110px;
}
main::after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 80px;
    right: 80px;
    background: url('../img/icons/bg-arrows.svg');
    background-repeat: repeat-y;
    z-index: -1;
    opacity: 100%;
}

.partners {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}
.partners > div {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.partners .img {
    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 0 auto 10px;
    border: 1px solid #0B315E;
    border-radius: 50%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners .img img {
    width: 100%;
}
.partners > div > div {
    margin-bottom: 40px;
}
.partners > div > div:hover .img {
    background-color: #0B315E;
}
.partners h3 {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #0B315E;
}

@media screen and (max-width: 576px) {
    main {
        margin-top: 90px;
    }
    main::after {
        left: 0;
        right: 0;
    }

    .partners > div {
        flex-direction: column;
    }
    .partners > div > div {
        padding: 0 10px;
    }
    .partners h3 {
        font-size: 1.4rem;
    }
}

.about {
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 30px 0 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.13);
}
.about h2,
.founders h2,
.events h2,
.mentors h2,
.trainers h2,
.incubation-body h2,
.application-form h2,
.contact h2 {
    font-size: 7rem;
    font-weight: 700;
    color: #FF9A00;
    margin-bottom: 30px;
}
.about p {
    width: 85%;
    margin-bottom: 40px;
    font-size: 1.8rem;
    line-height: 150%;
    text-align: justify;
}
.about .about-img {
    align-items: flex-end;
}
.about .about-img img {
    width: 80%;
    border-radius: 13px;
}

.events > div:first-child,
.mentors > div:first-child {
    margin-bottom: 30px;
}
.events,
.mentors,
.trainers {
    padding-bottom: 100px;
}
.trainers h2,
.contact h2 {
    margin-bottom: 50px;
}
.events > div:first-child,
.mentors > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.events > div:first-child a,
.mentors > div:first-child a {
    margin-right: 50px;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0B315E;
    transition: 0.5s;
}
.events > div:first-child a:hover,
.mentors > div:first-child a:hover {
    color: #FF9A00;
}

.mentors .col-3,
.trainers .col-57 {
    margin-bottom: 50px;
}
.trainers .show-more-btn {
    background-color: #0B315E;
    color: #FFFFFF;
}
.mentor-box {
    transition: 0.5s;
    height: 100%;
    background-color: #FFFFFF;
}
.mentor-box:hover {
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%), 0px 4px 6px -2px rgb(0 0 0 / 5%);
}
.mentor-box:hover .mentor-desc a i {
    opacity: 1;
}
.mentor-box .mentor-img {
    background-color: #E2E8F0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px 7px 0px 0px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.mentor-box .mentor-desc {
    background-color: #FFFFFF;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mentor-box .mentor-name {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #0B315E;
    margin-bottom: 10px;
}
.mentor-box .mentor-title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #0B315E;
}
.mentor-box .mentor-desc a i {
    font-size: 2.4rem;
    color: #0B315E;
    opacity: 0;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .about {
        margin-top: 0;
    }
    .about .col-md-6,
    .about .col-md-5,
    .founders h2 {
        text-align: center;
    }
    .about h2,
    .founders h2,
    .events h2,
    .mentors h2,
    .trainers h2,
    .incubation-body h2,
    .application-form h2,
    .contact h2,
    .apply-banner h2 {
        font-size: 3.5rem;
        line-height: 150%;
    }
    .about p,
    #about-us .about p {
        width: 100% !important;
        padding: 0 15px;
    }
    .about .btn-blue ,
    .events .btn-blue {
        font-size: 1.4rem;
        padding: 8px 0;
    }

    .events > div:first-child,
    .mentors > div:first-child {
        justify-content: center;
    }
    .events .news-desc > p:nth-child(2) {
        overflow-wrap: anywhere;
    }
}


/**************** INCTUBATION PROGRAM PAGE ****************/
.incubation-banner {
    text-align: center;
}
.incubation-banner h1 {
    padding-top: 50px;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #0B315E;
}
.apply-banner h2 {
    padding: 0 0 10px;
}
.incubation-banner h1 + span,
.apply-banner h2 + span {
    display: block;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FF9A00;
}
.incubation-banner p {
    width: 80%;
    margin: 0 auto;
}
.apply-banner p {
    width: 85%;
    font-size: 1.8rem;
    line-height: 150%;
    margin-left: auto;
    padding: 10px 0;
    text-align: right;
}
.apply-banner p:nth-child(3) {
    font-size: 3.8rem;
    line-height: 150%;
}
.apply-banner p span {
    font-weight: 700;
}
.incubation-banner .btn-blue {
    font-size: 3rem;
    line-height: 150%;
    background-color: #0B315E;
    color: #FFFFFF;
}
.apply-banner .btn-blue {
    margin-top: 60px;
    background-color: #0B315E;
    color: #FFFFFF;
}

.incubation-body {
    padding-bottom: 40px;
}
.incubation-body ul {
    list-style-type: disc;
    padding-left: 25px;
}
.incubation-body ul li {
    width: 80%;
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #0B315E;
    text-align: justify;
    margin-bottom: 20px;
}

.about.services .col-6 {
    display: block;
}
.about.services h4 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 150%;
    color: #FC682B;
    letter-spacing: 0.05em;
    text-decoration: underline;
    margin-bottom: 30px;
}
.about.services td {
    width: 50%;
    font-size: 1.8rem;
    line-height: 150%;
    color: #0B315E;
    letter-spacing: 0.05em;
    padding: 15px 0;
    border-bottom: 1px solid #a0a0a0;
}
.about.services td:nth-child(1) {
    padding-right: 15px;
}
.about.services td:nth-child(2) {
    padding-left: 15px;
}

.trainers .col-57 {
    width: 20%;
}
.trainers .mentor-box .mentor-desc a i {
    opacity: 1;
}
.trainers .mentor-box .mentor-name {
    font-size: 2rem;
    line-height: 150%;
}
.trainers .mentor-box .mentor-title {
    font-size: 1.4rem;
    line-height: 150%;

}

@media screen and (max-width: 768px) {
    .incubation-banner h1 {
        font-size: 2rem;
        line-height: 150%;
    }
    .incubation-banner h1 + span,
    .apply-banner h2 + span {
        font-size: 1.6rem;
        line-height: 150%;
    }
    .incubation-banner p {
        width: 100%;
        font-size: 1.8rem;
        line-height: 150%;
        padding-top: 40px;
    }
    .incubation-banner .btn-blue {
        font-size: 1.8rem;
        line-height: 150%;
    }

    .apply-banner p {
        width: 100%;
        font-size: 1.4rem;
        line-height: 150%;
    }
    .apply-banner p:nth-child(3) {
        font-size: 1.6rem;
        line-height: 150%;
    }
    .apply-banner .btn-blue {
        font-size: 1.4rem;
        padding: 8px 0;
    }

    .incubation-body h2 {
        text-align: center;
    }
    .incubation-body ul li {
        width: 100%;
    }

    .about.services h4 {
        font-size: 1.8rem;
        line-height: 150%;
        text-align: center;
    }
    .about.services td {
        font-size: 1.2rem;
        line-height: 150%;
    }

    .trainers .col-57 {
        width: 100%;
    }
    
}


/**************** APPLY NOW PAGE ****************/
.application-form {
    padding-top: 100px;
    padding-bottom: 50px;
}
.application-form h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 150%;
    color: #0B315E;
}
.application-form form {
    padding: 20px 0 100px;
}
.application-form .form-group {
    display: inline-block;
    width: 48%;
    margin-bottom: 35px;
    padding-right: 20px;
}
.application-form .form-group input,
.application-form .form-group textarea {
    width: 100%;
    background: #FFFFFF;
    border: 2px solid rgba(217, 217, 217, 0.7);
    border-radius: 5px;
    padding: 14px 20px;
    font-size: 1.6rem;
    line-height: 150%;
    resize: none;
    transition: 0.5s;
}
.application-form .form-group input:focus,
.application-form .form-group textarea:focus {
    border-color: #0B315E;
}
.application-form .form-group input:focus-visible,
.application-form .form-group textarea:focus-visible {
    outline: 0;
}
.application-form .btn-blue {
    background-color: #0B315E;
    color: #FFFFFF;
    text-transform: none;
}

#alert {
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    #alert {
        margin-left: 0;
        margin-top: 10px;
    }
}


/**************** SINGLE MENTOR PAGE ****************/
#single-mentor .mentors {
    padding-top: 120px;
}
.single-mentor {
    margin-bottom: 150px;
}
.single-mentor img {
    width: 100%;
}
.single-mentor h3 {
    font-size: 4.2rem;
    font-weight: 700;
    color: #0B315E;
    letter-spacing: 0.05em;
    margin: 30px 0 15px;
}
.single-mentor p {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000000;
}



/**************** ABOUT US PAGE ****************/
#about-us .director {
    padding: 60px 0 100px;
}
#about-us .about img,
#about-us .director img {
    width: 80%;
}
#about-us .about .row,
#about-us .director .row {
    align-items: center;
}
#about-us .about p,
#about-us .director p {
    width: 85%;
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 150%;
    text-align: justify;
}
#about-us .name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#about-us .director .name h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #FF9A00;
    letter-spacing: 0.05em;
    margin-right: 15px;
}
#about-us .director .link i {
    font-size: 2.4rem;
    color: #0B315E;
}
#about-us .director p.title {
    font-size: 2.4rem;
    font-weight: 500;
    color: #0B315E;
    margin-bottom: 24px;
    letter-spacing: 0.05em;
    text-align: left;
}

.founders {
    padding: 40px 0 200px;
}
.founders .mentor-box,
.founders .mentor-box:hover {
    box-shadow: 0px 4px 25px 0px rgb(0 0 0 / 25%);
    border-radius: 15px;
    height: min-content;
}
.founders .mentor-box .mentor-img {
    border-radius: 15px 15px 0 0;
}
.founders .mentor-box .mentor-desc {
    border-radius: 15px;
}
.founders .mentor-box .mentor-desc a i {
    opacity: 1;
}
.founders .btn-blue {
    margin-top: 40px;
}

.founders .modal-content {
    padding: 10px;
}
.founders .modal-header {
    border-bottom: 0;
    font-size: 1.8rem;
}
.founders .modal-header button {
    align-self: flex-start;
}
.founders .modal-header img {
    width: 100%;
}
.founders .modal-header .mentor-name {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #0B315E;
    margin-bottom: 10px;
}
.founders .modal-header .mentor-title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #0B315E;
    margin-bottom: 20px;
}
.founders .modal-header .social-media i {
    font-size: 2.4rem;
    color: #0B315E;
}
.founders .modal-body {
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    #about-us .director,
    .founders {
        padding-left: 15px;
        padding-right: 15px;
    }
    #about-us .director .col-md-5 {
        margin-bottom: 20px;
    }
    #about-us .col-md-4 {
        margin-bottom: 80px;
        text-align: center;
    }
    #about-us .btn-blue {
        font-size: 1.4rem;
        padding: 8px 0;
    }

    .founders .mentor-box {
        text-align: left;
    }
    .founders .modal-header {
        flex-direction: column;
    }
    .founders .modal-header .col-md-3 { order: 2; }
    .founders .modal-header .col-md-5 { order: 3; }
    .founders .modal-header .btn-close {
        order: 1;
        margin-bottom: 15px;
    }
}


/**************** EVENTS PAGE ****************/
.news-box {
    border: 1px solid #0B315E;
    border-radius: 19px 19px 4px 4px;
    transition: 0.5s;
}
.news-box:hover {
    border-color: transparent;
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%), 0px 4px 6px -2px rgb(0 0 0 / 5%);
}
.news-box .news-img {
    background-color: #E2E8F0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 19px 19px 0 0;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 210px;
}
.news-box .news-body {
    padding: 24px;
    display: flex;
    background-color: #fff;
}
.news-box .news-date {
    width: 30px;
    margin-right: 24px;
    color: #0B315E;
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: 700;
    text-align: center;
}
.news-box .news-date span {
    color: #FF9A00;
    font-size: 3rem;
    line-height: 150%;
}
.news-box .news-desc p {
    color: #C0C0C0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
}
.news-box .news-desc .news-title {
    color: #000000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 16px;
}




/**************** EVENT DETAILS PAGE ****************/
#event-details .banner h2 {
    width: 80%;
}
.event-details-body {
    width: 75%;
}
.event-details-body img {
    width: 100%;
    margin-top: -30px;
}
.event-details-body p {
    margin-bottom: 22px;
    color: #0B315E;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 150%;
}
.event-details-body p:nth-child(2) {
    margin-top: 33px;
}
.event-details-body ol,
.event-details-body ul {
    margin: 30px 0;
    color: #FF9A00;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 150%;
}

.other-events {
    padding: 120px 0;
}



/**************** PAGINATION ****************/
.pagination {
    padding-top: 80px;
    padding-bottom: 60px;
}
.pagination ul {
    margin: 0 auto;
    line-height: 150%;
}
.pagination ul li {
    display: inline-block;
    margin: 0 3px;
    font-size: 1.4rem !important;
    line-height: 150%;
    color: #0F172A;
}
.pagination ul li.arrow {
    font-size: 1.6rem;
}
.pagination ul li.arrow a {
    padding: 10px;
    color: #0B315E;
}
.pagination ul li.active a {
    background: #EEF2FF;
    color: #0B315E;
    border: 1px solid #0B315E;
    border-radius: 24px;
    cursor: pointer;
}
.pagination ul li a {
    padding: 10px 16px;
    color: inherit;
}



/**************** CONTACT PAGE ****************/
.contact {
    padding-top: 120px;
}
.contact input,
.application-form input:not([type='radio']),
.contact textarea,
.application-form textarea,
.application-form select {
    width: 100%;
    padding: 14px 20px;
    font-size: 1.6rem;
    line-height: 150%;
    margin-bottom: 35px;
    border: 2px solid rgba(217, 217, 217, 0.7);
    border-radius: 5px;
    transition: 0.5s;
}
.contact textarea,
.application-form textarea {
    height: 157px;
    resize: none;
}
.application-form select {
    background-color: #FFFFFF;
    color: #5F5F5F;
}
.contact input:focus,
.application-form input:focus,
.contact textarea:focus,
.application-form textarea:focus,
.application-form select:focus {
    border-color: #0B315E;
}
.contact input:focus-visible,
.application-form input:focus-visible,
.contact textarea:focus-visible,
.application-form textarea:focus-visible,
.application-form select:focus-visible {
    outline: 0;
}
.application-form input[type='radio'] + label {
    margin-bottom: 10px;
    font-size: 1.6rem;
    line-height: 150%;
}
input[type='file']::-webkit-file-upload-button {
    background-color: transparent;
    color: #5F5F5F;
    border: none;
  }
.application-form label {
    font-size: 1.8rem;
    line-height: 150%;
    color: #5F5F5F;
    margin-bottom: 10px;
}
.application-form label.yellow {
    color: #FF9A00;
    font-weight: 500;
}
.application-form textarea {
    margin-bottom: 0;   
}
.note {
    font-size: 1.4rem;
    color: #c4c4c4;
    letter-spacing: 0.05em;
}
.contact .text-success {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 150%;
    margin-left: 50px;
}
#otherinput + textarea {
    margin-top: 40px;
}
#next {
    margin-top: 40px;
}

.map iframe {
    width: 100%;
    height:300px;
    margin: 90px 0;
}



/**************** UPLOAD PAGE ****************/
#upload-page {
    padding: 70px 0;
}
#upload-page > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 88px rgba(0, 0, 0, 0.25);
}
#upload-page img {
    height: 200px;
    margin-bottom: 20px;
    transform: rotate(30deg);
}
#upload-page p {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
    color: #0B315E;
    letter-spacing: 0.02em;
}
#upload-page p:last-child {
    margin-top: 40px;
}
#upload-page a {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #upload-page > div {
        width: calc(100% - 30px);
        margin: 0 15px;
        text-align: center;
    }
    #upload-page img {
        height: 150px;
    }
    #upload-page p {
        font-size: 1.4rem;
    }
}