
{% extends "base.html" %}

{% load static %}

    {% block title %}Events | Next Step Innovation Center{% endblock %}
    {% block content %}

    <main id="event-details">
        <section class="banner">
            <div class="container">
                <h2>{{events.title}}</h2>
            </div>
        </section>

        <section class="container">
            <div class="event-details-body">
                <img src="{{events.des_image.url}}" alt="News 1">

                <p>{{events.description|safe}}</p>

            </div>
        </section>

        <section class="container other-events">
            <div class="row">


                {% for i in related_events %}
                <div class="col-4">
                    <a href="{{i.get_absolute_url}}">
                        <div class="news-box">
                            <div class="news-img" style="background-image: url('{{i.cover_image.url}}');"></div>
                            <div class="news-body">
                                <p class="news-date">{{i.created_at|date:"M"}} <span>{{i.created_at|date:"d"}}</span></p>
                                <div class="news-desc">
                                    <p class="news-title">{{i.title}}</p>
                                    {{i.description|truncatechars:80|safe}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                
            </div>
        </section>
    </main>

    {% endblock %}