
{% extends "base.html" %}

{% load static %}

    {% block title %}Home | Next Step Innovation Center{% endblock %}
    {% block content %}

    <main>
        <section class="banner home">
            <img src="{% static 'img/home-banner.png' %}" alt="Home banner image">
            <div class="banner-text container">
                <div>
                    <p>Welcome to Startup World</p>
                    <h1>REALISE<br>YOUR IDEA!</h1>
                    <a class="btn-orange" href="/incubation-program">Application Form</a>
                </div>
            </div>
        </section>

        <section class="container partners">
            <div>
                <div class="img">
                    <img src="{% static 'img/icons/partners_1.png' %}" alt="The Enterpreneurship">
                </div>
                <h3>The Enterpreneurship</h3>
            </div>
            <div>
                <div class="img">
                    <img src="{% static 'img/icons/partners_2.png' %}" alt="The Incubation">
                </div>
                <h3>The Incubation</h3>
            </div>
            <div>
                <a href="https://sup.vc/" target="_blank">
                    <div class="img">
                        <img src="{% static 'img/icons/partners_3.png' %}" alt="Acceleration by Sup.VC">
                    </div>
                    <h3>Acceleration by Sup.VC</h3>
                </a>
            </div>
            <div>
                <div class="img">
                    <img src="{% static 'img/icons/partners_4.png' %}" alt="Go Global">
                </div>
                <h3>Go Global</h3>
            </div>
        </section>

        <section class="about">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h2>About Us</h2>
                        <p>Next Step Innovation Center is designed to support start-ups and companies from concept to development of a workable demo (A Minimum Viable Product) in the Incubation Program. The company is a Startup Ecosystem supporting all of Azerbaijan and anyone who wants to connect to the Azerbaijani community.</p>
                        <a class="btn-blue" href="/about">More</a>
                    </div>
                    <div class="col-6">
                        <img src="{% static 'img/aboutus-section.png' %}" alt="About Us">
                    </div>
                </div>
            </div>
        </section>

        <section class="container events">
            <div>
                <h2>Events</h2>
                <a href="/events">More</a>
            </div>
            <div class="row">

                {% for i in events %}
                <div class="col-4">
                    <a href="{{ i.get_absolute_url }}">
                        <div class="news-box">
                            <div class="news-img" style="background-image: url('{{i.cover_image.url}}');"></div>
                            <div class="news-body">
                                <p class="news-date">{{i.created_at|date:"M"}} <span>{{i.created_at|date:"d"}}</span></p>
                                <div class="news-desc">
                                    <p class="news-title">{{i.title}}</p>
                                    {{i.description|safe|truncatechars:80}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </section>

        <section class="container mentors">
            <div>
                <h2>Mentors</h2>
                <a href="/incubation-program">More</a>
            </div>
            <div class="row">

                {% for i in mentors %}
                <div class="col-4">
                    <div class="mentor-box">
                        <div class="mentor-img" style="background-image: url('{{i.image.url}}');"></div>
                        <div class="mentor-desc">
                            <div>
                                <p class="mentor-name">{{i.name}}</p>
                                <p class="mentor-title">{{i.work}}</p>
                            </div>
                            <a href="{{i.linkedin_link}}"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </main>

    {% endblock %}